body{
	background-color: #58676F;
	margin:30px;
	color:white;
}

.well{
	background-color:#d3d3d3;
	color:black;
}


h1{
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.bar{
visibility: hidden;
}

.shiny-progress .progress-text {
position: absolute;
right: 30px;
height: 30px;
width: 400px;
background-color: green;
margin: 0px;
padding: 2px 2px;
margin-right:10px;
opacity: 0.85;
}

.mysidebar{
	background-color: green;
}

#contents{
	color: rgb(56,203,56);
  font-weight:bold;
}

h6{
  font-style:italic;
  color: rgb(195, 194, 194);
}

#contents.shiny-output-error-validation{
	color: red;
}


.alert{
  color:red;
  font-weight:bold;
  text-align: left;
  padding:0;
}

.allgood{
  color:green;
  font-weight:bold;
}


